<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tpl.fitnesszone">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_fz"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ABOUT -->
        <activity
            android:name=".activity.AboutActivity"
            android:parentActivityName=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tpl.fitnesszone.activity.HomeActivity" />
        </activity>

        <!-- CIRCUIT WORKOUT RECYCLER VIEW -->
        <activity
            android:name=".activity.CircuitWorkoutActivityRV"
            android:parentActivityName=".activity.MyWorkoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tpl.fitnesszone.activity.MyWorkoutActivity" />
        </activity>

        <!-- EQUIPMENT EXERCISE DETAIL -->
        <activity
            android:name=".activity.EquipmentExerciseDetailActivity"
            android:parentActivityName=".activity.EquipmentExerciseListActivityRV">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tpl.fitnesszone.activity.EquipmentExerciseListActivityRV" />
        </activity>

        <!-- EQUIPMENT EXERCISE LIST CARD VIEW -->
        <activity android:name=".activity.EquipmentExerciseListActivityCV">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- EQUIPMENT EXERCISE LIST RECYCLER VIEW -->
        <activity
            android:name=".activity.EquipmentExerciseListActivityRV"
            android:parentActivityName=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tpl.fitnesszone.activity.HomeActivity" />
        </activity>

        <!-- FITNESS JOURNAL -->
        <activity
            android:name=".activity.FitnessJournalActivity"
            android:parentActivityName=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tpl.fitnesszone.activity.HomeActivity" />
        </activity>

        <!-- HEALTH BENEFITS -->
        <activity
            android:name=".activity.HealthBenefitsActivity"
            android:parentActivityName=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tpl.fitnesszone.activity.HomeActivity" />
        </activity>

        <!-- HOME -->
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- LAUNCH -->
        <activity
            android:name=".activity.LaunchActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- LOCATION -->
        <activity
            android:name=".activity.LocationActivity"
            android:label="@string/title_activity_location"
            android:parentActivityName=".activity.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tpl.fitnesszone.activity.HomeActivity" />
        </activity>

        <!-- MY WORKOUT -->
        <activity
            android:name=".activity.MyWorkoutActivity"
            android:parentActivityName=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tpl.fitnesszone.activity.HomeActivity" />
        </activity>

        <!-- WORKOUT TRACKER -->
        <activity
            android:name=".activity.WorkoutTrackerActivity"
            android:parentActivityName=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tpl.fitnesszone.activity.HomeActivity" />
        </activity>

    </application>

</manifest>
